.all {
  display: flex;
  justify-content: space-evenly;
}

.main {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.routesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.pages {
  width: 65%;
  border-radius: 10px;
  padding: 10px;
}

.lightMode {
  background-color: #333;
}
